*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.items{
    width: 900px;
    margin: auto;
}
h1{
    text-decoration: underline;
    text-underline-offset: 8px;
}
div{
    margin-top: 50px;
}
.header1{
    border: 2px solid black;
    height: 250px;
}
.header1 h1{
    padding: 15px;
}
.header1 p{
    padding: 15px;
    font-size: 18px;
}
.header1 a{
    padding: 15px;
    color: black;
    font-size: 20px;
}
img{
    height: 260px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.images{
    height: 360px;
}
.images h1{
    margin-bottom: 15px;
    padding: 15px;
    margin-top:0;
}
.images a{
    color: black;
    font-size: 20px;
    padding-left: 15px;
}
.listItems{
    height: 150px;
    padding-left: 15px;
}
.listItems h1{
    margin-bottom: 13px;
}
ol{
    padding-left: 15px;
    font-size: 18px;
}
li{
    margin: 5px;
}